/* ------------------------------------------------- */
/*                                                   */
/*                   CSS RESET                       */
/*                                                   */
/* ------------------------------------------------- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

*:active,
*:focus,
*:hover {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------- */

:root {
  --clr-p-red: hsl(0, 78%, 62%);
  --clr-p-cyan: hsl(180, 62%, 55%);
  --clr-p-orange: hsl(34, 97%, 64%);
  --clr-p-blue: hsl(212, 86%, 64%);

  --clr-n-dark-blue: hsl(234, 12%, 34%);
  --clr-n-grayish-blue: hsl(229, 6%, 66%);
  --clr-n-very-light-gray: hsl(0, 0%, 98%);

  --clr-n-dark-blue-a: 234, 12%, 34%;
  --clr-n-grayish-blue-a: 229, 6%, 66%;
  --clr-n-very-light-gray-a: 0, 0%, 98%;

  --f-size: 15px;
  --f-family: "Poppins", sans-serif;
  --f-weight-l: 200;
  --f-weight-r: 400;
  --f-weight-b: 600;
}

body {
  font-family: var(--f-family);
  font-weight: var(--f-weight-l);
  background-color: var(--clr-n-very-light-gray);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-card {
  max-width: 1440px;
  width: 80vw;
  font-size: var(--f-size);
  color: var(--clr-n-dark-blue);
  gap: 1rem;
  margin: 2rem;
  max-width: 1000px;
}

.heading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.heading > h1 {
  font-size: 2em;
}

.heading > h1 > span {
  display: block;
  font-weight: var(--f-weight-l);
}
.heading > h1 > span + span {
  font-size: 0.95em;
  font-weight: var(--f-weight-b);
}
#supe {
  border-top: 0.2em solid var(--clr-p-cyan);
}
#team {
  border-top: 0.2em solid var(--clr-p-red);
}
#karm {
  border-top: 0.2em solid var(--clr-p-orange);
}
#calc {
  border-top: 0.2em solid var(--clr-p-blue);
}
.card {
  font-size: var(--f-size);
  width: 100%;
  padding: 2em 2.125em;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.4rem 1rem 0 hsl(var(--clr-n-grayish-blue-a), 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card > img {
  margin-left: calc(100% - 64px);
  margin-top: 1rem;
}
.card > h2 {
  font-size: 1.25em;
  font-weight: var(--f-weight-b);
}
.card > p {
  font-size: 0.8em;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin: 4em 0;
}
@media (max-width: 800px) {
  /* .four-card {
    max-width: 400px;
  } */
  .three-col {
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .heading {
    width: 100%;
  }
  .heading > h1 {
    font-size: 1.5em;
  }
  .heading > p {
    font-size: 0.8em;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
